<input 
    type="text" 
    id="myInput" 
    (input)="onSearch()"
    placeholder="Search for names.." 
    title="Type in a name"
>

<table id="myTable">
  <tr class="header">
    <th style="width:30%;">Nome</th>
    <th style="width:20%;">País</th>
    <th style="width:50%;">Sobre</th>
  </tr>
  <tr *ngFor="let contact of contacts" (click)="onClick(contact)">
    <td>{{ contact.firstName }} {{ contact.lastName }}</td>
    <td>{{ contact.country }}</td>
    <td>{{ contact.subject }}</td>
  </tr>
</table>
