<h2>My Customers</h2>

<input 
    type="text" 
    id="myInput" 
    (input)="onSearch()"
    placeholder="Search for names.." 
    title="Type in a name"
>

<table id="myTable">
  <tr class="header">
    <th style="width:30%;">Name</th>
    <th style="width:20%;">Country</th>
    <th style="width:50%;">Subject</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Germany</td>
    <td></td>
  </tr>
  <tr>
    <td>Berglunds snabbkop</td>
    <td>Sweden</td>
    <td></td>
  </tr>
  <tr>
    <td>Island Trading</td>
    <td>UK</td>
    <td></td>
  </tr>
  <tr>
    <td>Koniglich Essen</td>
    <td>Germany</td>
    <td></td>
  </tr>
  <tr>
    <td>Laughing Bacchus Winecellars</td>
    <td>Canada</td>
    <td></td>
  </tr>
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
    <td>Italy</td>
    <td></td>
  </tr>
  <tr>
    <td>North/South</td>
    <td>UK</td>
    <td></td>
  </tr>
  <tr>
    <td>Paris specialites</td>
    <td>France</td>
    <td></td>
  </tr>
</table>
