<h3>Contact Form</h3>

<div  class="container" >
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label for="fname">First Name</label>
    <input 
        type="text" 
        id="fname" 
        name="firstname" 
        placeholder="Your name.."
        formControlName="firstName"
        >

    <label for="lname">Last Name</label>
    <input 
        type="text" 
        id="lname" 
        name="lastname" 
        placeholder="Your last name.."
        formControlName="lastName"
        >

    <label for="country">Country</label>
    <input 
        type="text" 
        id="country" 
        name="country" 
        placeholder="Your country.."
        formControlName="country"
        >

    <label for="subject">Subject</label>
    <textarea 
        id="subject" 
        name="subject" 
        placeholder="Write something.." 
        style="height:200px"
        formControlName="subject"
        >
    </textarea>

    <input type="submit" value="Submit">
    <!--routerLink="/submit"-->
  </form>
</div>