<div class="form" >
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form__field">
        <label for="fname">Nome</label>
        <input 
            class="form__input"
            type="text" 
            id="fname" 
            name="firstname" 
            placeholder="Seu primeiro nome.."
            formControlName="firstName"
            >
        <div class="error-msg" *ngIf="!form.get('firstName').valid && form.get('firstName').touched" >
            Por favor, informe o seu nome.
        </div>
    </div>

    <div class="form__field">
        <label for="lname">Sobrenome</label>
        <input 
            class="form__input"
            type="text" 
            id="lname" 
            name="lastname" 
            placeholder="Seu sobrenome.."
            formControlName="lastName"
            >
        <div class="error-msg" *ngIf="!form.get('lastName').valid && form.get('lastName').touched" >
            Por favor, informe o seu sobrenome.
        </div>
    </div>

    <div class="form__field">
        <label for="country">País</label>
        <input 
            class="form__input"
            type="text" 
            id="country" 
            name="country" 
            placeholder="Seu país.."
            formControlName="country"
            >
        <div class="error-msg" *ngIf="!form.get('country').valid && form.get('country').touched" >
            Por favor, informe o seu país.
        </div>
    </div>

    <div class="form__field">
        <label for="subject">Sobre</label>
        <textarea 
            class="form__input"
            id="subject" 
            name="subject" 
            placeholder="Fale um pouco sobre você.." 
            style="height:200px"
            formControlName="subject"
            >
        </textarea>
    <div class="error-msg" *ngIf="!form.get('subject').valid && form.get('subject').touched" >
        Esse campo deve ser preenchido.
    </div>
    </div>

    <input class="form__button" type="submit" value="Enviar">
  </form>
</div>